html{
    background-color: lightblue;
}
body{
    font-family: Helvetica;
}

h1{
    text-align: center;
    color: lightblue;
    font-size: 70px;
    background-color: black;
    margin-top: 0;
}

#fried-dumpling-pic{
    height: auto;
    width: 450px;
    justify-content: center;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 2px black;
}

#recipe-content{
    background-color: rgba(128, 128, 128, 0.25);
    padding: 10px;
    margin: 30px;
}